import(methods)

exportClasses("filehash", "filehashDB", "filehashRDS")

exportMethods("dbInsert", "dbFetch", "dbExists", "dbList", "dbDelete",
              "dbReorganize", "db2env", "dbLoad", "show")

export("dbCreate", "dbInitialize")
