exportClasses("filehash", "filehashDB", "filehashRDS")

exportMethods("dbInsert", "dbFetch", "dbExists", "dbList", "dbDelete",
              "dbReorganize", "dbUnlink")
exportMethods("show", "with")

export("dumpDF", "dumpObjects", "dbCreate", "dbInitialize", "dbLoad",
       "db2env", "dumpImage", "filehashOption")
